<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <i class="fa-regular fa-compass"></i>
      <span style="font-weight:700;font-size:1rem;color:#222">AnumoraStay</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <% if (currUser) { %>
          <a class="nav-link" href="/listings/new">Add Listing</a>
          <a class="nav-link" href="/wishlist">
            <i class="fa-regular fa-heart" style="margin-right:4px"></i>Wishlist
          </a>
          <a class="nav-link" href="/dashboard">Dashboard</a>
          <% if (currUser.isAdmin) { %>
            <a class="nav-link" href="/dashboard/admin" style="color:#FF385C!important;font-weight:600">
              <i class="fa-solid fa-shield-halved" style="margin-right:4px"></i>Admin
            </a>
          <% } %>
        <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup">Sign up</a>
          <a class="nav-link" href="/login">Log in</a>
        <% } else { %>
          <span class="nav-link text-muted d-none d-md-block">Hi, <%= currUser.username %></span>
          <a class="nav-link" href="/logout">
            <i class="fa-solid fa-right-from-bracket" style="margin-right:4px"></i>Log out
          </a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
